discord.py[voice]
discord.py
git+https://github.com/imayhaveborkedit/discord-ext-voice-recv.git
Flask
aiohttp
Pillow
python-dotenv
PyNaCl
yt-dlp
ffmpeg-python
lyricsgenius
pymongo>=4.0.0
spotipy
spotify
pytz
google-api-python-client
Flask-Cors
requests
google-auth-oauthlib
google-auth-httplib2
google.generativeai
google.genai
apscheduler
ffmpeg
nodejs
dnspython
